
DATABASE_URL=""
RESEND_API_KEY=""
GITHUB_CLIENT_ID=""
GITHUB_SECRET=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Better Auth Configuration
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:3000"
NEXT_PUBLIC_BETTER_AUTH_URL="http://localhost:3000"

NEXT_PUBLIC_BASE_URL="http://localhost:3000"
UPLOADTHING_TOKEN=''


DB_USER=postgres
DB_PASSWORD=kou22A11tch
DB_HOST=localhost
DB_PORT=5432
DB_NAME=posinvent
DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?schema=public"